[Unit]
Description=Movim daemon
After=network.target local-fs.target

[Service]
User={{ movim_app_username }}
Type=simple
EnvironmentFile=-/etc/default/movim
ExecStart=/usr/bin/php daemon.php start
WorkingDirectory={{ movim_path }}
StandardOutput=syslog
SyslogIdentifier=movim
PIDFile=/run/movim.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
