# Database configuration
DB_DRIVER={{ movim_db_type }}
DB_HOST={{ movim_db_host }}
DB_PORT={{ movim_db_port }}
DB_DATABASE={{ movim_db_name }}
DB_USERNAME={{ movim_db_user }}
DB_PASSWORD={{ movim_db_passwd }}

# Daemon configuration
DAEMON_URL={{ movim_web_schema }}://{{ movim_web_name }}/ # Public URL of your Movim instance
DAEMON_PORT={{ movim_ws_port }} # Port on which the daemon will listen
DAEMON_INTERFACE={{ movim_daemon_interface }} # Interface on which the daemon will listen, must be an IP
DAEMON_DEBUG=false
DAEMON_VERBOSE=false
